.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
    min-height: 100vh;
}

.main {
    margin-left: var(--mantine-spacing-xl);
    margin-right: var(--mantine-spacing-xl);
}

.textInput {
    margin-bottom: var(--mantine-spacing-xl);;
}