name: error-collector

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
    - uses: actions/cache@v4
      with:
        path: app/error-collector/.build
        key: swift-${{ runner.os }}-build
    - name: Build
      run: cd app/error-collector && swift build
