name: error-collector

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
    - uses: actions/cache@v4
      with:
        path: app/error-collector/.build
        key: swift-${{ runner.os }}-build
    - name: Build
      run: cd app/error-collector && swift build
