name: error-collector

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
    - uses: actions/cache@v4
      with:
        path: app/error-collector/.build
        key: swift-${{ runner.os }}-build
    - name: Build
      run: cd app/error-collector && swift build
