name: error-collector

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:

    runs-on: macos-latest

    steps:
    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
    - uses: actions/cache@v5
      with:
        path: app/error-collector/.build
        key: swift-${{ runner.os }}-build
    - name: Build
      run: cd app/error-collector && swift build
